<!-- Spinner while loading profile -->
<div *ngIf="isLoadingProfile" class="text-center mb-5"  style="margin-top: 100px;">
  <div class="spinner-border" style="width: 3rem; height: 3rem; color: #3e7b8d;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p class="mt-3">Loading profile...</p>
</div>

<div class="container" *ngIf="!isLoadingProfile && profile"  style="margin-top: 100px; margin-bottom: 40px;">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Edit Profile</h2>
    <button
      class="btn d-flex align-items-center gap-2 px-3 py-2 mt-2"
      (click)="changePassword()"
    >
      <i class="bi bi-shield-lock-fill"></i> Change Password
    </button>
  </div>


  <app-custom-input
    class="col-4"
    label="Name"
    [(value)]="profile.name"
    [type]="'text'"
  ></app-custom-input>

  <app-custom-input
    class="col-4"
    label="Phone Number"
    [(value)]="profile.phoneNumber"
    [type]="'text'"
    [isPhone]="true"
  ></app-custom-input>
  
  <div
    *ngFor="let address of profile.addresses; let i = index"
    class="border rounded p-3 mb-3 position-relative"
  >
    <!-- Remove Icon -->
    <button
      type="button"
      class="btn-close position-absolute top-0 end-0 m-2"
      aria-label="Remove"
      (click)="removeAddress(i)"
    ></button>

    <h5>Address {{ i + 1 }}</h5>

    <div class="d-flex justify-content-evenly flex-wrap gap-2">
      <app-custom-input
        class="col-3"
        label="Street"
        [(value)]="address.street"
        [type]="'text'"
        [placeholder]="'Street'"
      ></app-custom-input>

      <app-custom-input
        class="col-3"
        label="State"
        [(value)]="address.state"
        [type]="'text'"
        [placeholder]="'State'"
      ></app-custom-input>

      <app-custom-input
        class="col-3"
        label="Building No."
        [(value)]="address.buildingNumber"
        [type]="'number'"
        [placeholder]="'Building Number'"
      ></app-custom-input>

     
  <label class="custom-radio-wrapper">
    <input
      type="radio"
      class="custom-radio"
      name="defaultAddress"
      [value]="i"
      [(ngModel)]="selectedDefaultIndex"
      (change)="setDefaultAddress(i)"
    />
    <span class="custom-radio-mark"></span>
    Default
  </label>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-add" (click)="addAddress()">+ Add Address</button>
  </div>

  <div *ngIf="duplicateAddressMessage" class="alert alert-danger">
  {{ duplicateAddressMessage }}
  </div>

  <!-- Buttons -->
  <div class="d-flex justify-content-end gap-3">
    <button class="btn-cancel" (click)="cancel()">Cancel</button>
    <button class="btn" (click)="updateProfile()">Save</button>
  </div>
</div>
