body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  /* background-image: url(https://stock.adobe.com/images/luxury-watch-with-black-background-watch-on-a-black-background-isolated-leather-belt-40mm-disc-women-s-men-s-watch/345638885);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.register-container {
  max-width: 500px;
  width: 100%;
}
.container-fluid{
  padding: 10px ;
  background: url("https://i.pinimg.com/736x/99/74/dd/9974ddf72340a1546df60c308ba2aba4.jpg");
}
.register-card {
  background-color: #f6f6f6;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(7, 35, 41, 0.4);
}

.register-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #30636f;
  text-align: center;
}

.register-subtitle {
  text-align: center;
  font-size: 0.95rem;
  color: #30636f;
  margin-bottom: 30px;
}

.register-subtitle a {
  color: #30636f;
  text-decoration: none;
  cursor: pointer;
}

.register-subtitle a:hover {
  color: #072329;
  text-shadow: 0 2px 5px rgba(7, 35, 41, 0.2);
}

.form-label {
  font-weight: 600;
  font-size: 18px;
  color: #30636f;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid #ced4da;
}

.form-control:focus {
  border-color: #30636f;;
  box-shadow: 0 0 0 0.25rem rgba(7, 35, 41, 0.4);
}

.btn-register {
  background-color: #30636f;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-register:hover {
  background-color: #075364;
  transform: translateY(-2px);
  color: #ffffff;
}

.register-login-link {
  font-size: 0.9rem;
  color:#30636f;
}

.register-login-link a {
  color: #30636f;
  text-decoration: none;
}

.register-login-link a:hover {
  color: #072329;
  text-shadow: 0 2px 5px rgba(7, 35, 41, 0.2);
}
input {
  background-color: #ffff;
}
.login-input{
  border-radius: 50px;
}
input:hover {
  background-color: #d9e4e5;
}
.alert.alert-danger {
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.05);
  color: #d9534f;
  font-size: 0.9rem;
  padding: 10px 15px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.alert.alert-danger p {
  margin: 0;
  line-height: 1.5;
}

.alert.alert-danger::before {
  margin-right: 5px;
}
