        .products{
            margin-top: 100px;
        }
        .filter-section {
            background-color: #f8f9fa;
            border-radius: 8px;
            padding: 20px;
            min-height: 84vh;
            z-index: 2;
        }
        .product-card {
            transition: transform 0.3s;
            margin-bottom: 20px;
        }
        .product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        }
        .btn-view {
            background-color: #000;
            color: white;
            border: none;
        }
        .btn-view:hover {
            background-color: #333;
        }