<h1 class="hover mt-3"><strong>Add New Product</strong></h1>

<div class="container-fluid mt-5">
  <h2 class="product-title">Product Information</h2>
  <div class="mt-5">
    <form
      [formGroup]="productForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <div class="row">
        <div class="col-md-4 mt-3">
          <label>Product Name</label>
          <input
            type="text"
            class="myInput form-control"
            formControlName="name"
          />
        </div>

        <div class="col-md-4 mt-3">
          <label>Price</label>
          <input
            type="number"
            class="myInput form-control"
            formControlName="price"
          />
        </div>
        <div class="col-md-4 mt-3">
          <label>Quantity</label>
          <input
            type="number"
            class="myInput form-control"
            formControlName="quantity"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-3">
          <label>Description</label>
          <textarea
            rows="3"
            class="myInputDescription form-control"
            formControlName="description"
          ></textarea>
        </div>
        <div class="col-md-4 mt-3">
          <label>Warrenty Years</label>
          <input
            type="number"
            class="myInput form-control"
            formControlName="warrentyYears"
          />
          <div class="mt-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="waterResistance"
                id="waterResistance"
              />
              <label class="form-check-label" for="waterResistance"
                >Water Resistance</label
              >
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 mt-3">
        <label>Status</label>
        <select class="form-select category-select" formControlName="status">
          <option value="" disabled selected>Select Status</option>
          <option value="Active">Available</option>
          <option value="Inactive">Unavailable</option>
          <option value="Inactive">Pending</option>
          <option value="Inactive">Canceled</option>

        </select>
      </div> -->
      </div>

      <div class="row">
        <div class="col-md-4 mt-3">
          <label class="form-label">Colors</label>
          <select
            class="form-select custom-select-colors"
            multiple
            formControlName="colors"
          >
            <option
              *ngFor="
                let c of ['Red', 'Blue', 'Green', 'Black', 'White', 'Silver']
              "
              [value]="c"
            >
              {{ c }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mt-3">
          <label class="form-label">Sizes</label>
          <select
            class="form-select custom-select-sizes custom-select-colors"
            multiple
            formControlName="sizes"
          >
            <option
              *ngFor="
                let s of [
                  '26mm',
                  '28mm',
                  '30mm',
                  '32mm',
                  '34mm',
                  '36mm',
                  '38mm',
                  '40mm',
                  '42mm',
                  '44mm',
                  '46mm',
                  '48mm'
                ]
              "
              [value]="s"
            >
              {{ s }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mt-3">
          <label>Gender</label>
          <select
            class="form-select brand-select"
            formControlName="genderCategory"
          >
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="mt-2">
            <div class="d-flex align-items-center justify-content-between">
            <label class="form-label mb-0">Category</label>
            <button
              type="button"
              class="btn btn-outline-success btn-circle"
              (click)="openCategoryModal()"
            >
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
        <select
              class="form-select category-select"
              formControlName="categoryId"
            >
              <option value="" disabled selected>Select Category</option>
              <option *ngFor="let c of categories" [value]="c.id">
                {{ c.name }}
              </option>
            </select>
            <div class="mt-3">
              <div class="d-flex align-items-center justify-content-between">
              <label class="form-label mb-0">Brand</label>
              <button
                type="button"
                class="btn btn-outline-success btn-circle"
                (click)="openBrandModal()"
              >
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
              <select
                class="form-select brand-select"
                formControlName="productBrandId"
              >
                <option value="" disabled selected>Select Brand</option>
                <option *ngFor="let b of brands" [value]="b.id">
                  {{ b.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mt-3">
          <label>Product Images</label>
          <input
            type="file"
            class="myInpute form-control"
            id="imageUpload"
            multiple
            (change)="onImageSelected($event)"
          />
        </div>
        <div class="mt-3 d-flex flex-wrap gap-3">
          <div
            *ngFor="let image of imagePreviews"
            class="border rounded"
            style="width: 150px; height: 150px; overflow: hidden"
          >
            <img
              [src]="image"
              class="w-100 h-100 object-fit-cover"
              alt="Preview"
            />
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end gap-5 mt-5 mb-4">
        <button type="submit" class="btn btn-custom">Save Product</button>
        <button type="button" class="btn btn-custom" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
<!-- Category Modal -->
<app-add-category
  *ngIf="isCategoryModalOpen"
  [type]="'category'"
  (close)="onCategoryModalClosed($event)"
></app-add-category>

<!-- Brand Modal -->
<app-add-category
  *ngIf="isBrandModalOpen"
  [type]="'brand'"
  (close)="onBrandModalClosed($event)"
></app-add-category>


  </div>
</div>
