<div class="custom-input">
  <label for="input"
    >{{ label }}<span class="required" *ngIf="isRequired">*</span>
  </label>
  <input
    class="input"
    id="input"
    [type]="type"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit($event)"
    [placeholder]="placeholder"
    [pattern]="isPhone ? '^01[0-2,5]\\d{8}$' : ''"
    #phoneModel="ngModel"
  />
   <!-- Only show validation message if it's a phone field -->
  <div *ngIf="isPhone && phoneModel.invalid && phoneModel.touched" class="text-danger mt-1">
    <div *ngIf="phoneModel.errors?.['pattern']">Phone must be 11 digits and start with 011, 012, 010, or 015.</div>
  </div>
</div>

