<!-- Hero Section -->
<section class="hero">
  <img src="assets/bg1.jpg" alt="Background Image" class="baner-image" />
  <div class="container hero-text">
    <h1>Welcome to Ora Collective</h1>
    <p class="lead">Find your perfect watch. Timeless elegance awaits.</p>
  </div>
</section>

<!-- Best Sellers -->
<section class="products py-5">
  <div class="container">
    <h2 class="mb-4">Best Sellers</h2>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card h-100">
          <!-- IMAGE DISPLAY -->
          <img
            *ngIf="getPrimaryImage(product)"
            [src]="getPrimaryImage(product)?.url"
            alt="Product Image"
            class="card-img-top"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="text-primary fw-bold">{{ product.price | currency }}</p>
            <button
              class="btn btn-outline-danger"
              (click)="addToFavorites(product.id)"
            >
              <i class="fa-solid fa-heart me-1"></i> Add to Favorites
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Look Section -->
<section class="look-section">
  <img src="assets/bg.avif" alt="Collections Image" class="look-image" />
  <div class="container look-text">
    <h2>Have a Look at Our Collections</h2>
    <p>Elegant designs, trusted brands, and timeless quality just for you.</p>
  </div>
</section>

<!-- Shop by Brand -->
<section class="brands py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Shop by Brand</h2>
    <div class="row g-4">
      <div class="col-md-3" *ngFor="let brand of brands">
        <div class="card brand-card h-100 text-center p-3">
          <div class="brand-icon mb-3">
          </div>
          <h5 class="card-title">{{ brand.name }}</h5>
          <button class="btn btn-outline-dark mt-2">
            View Products
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

