<!-- Hero Section -->
<section class="hero">
  <img src="assets/bg1.jpg" alt="Background Image" class="baner-image" />
  <div class="container hero-text">
    <h1>Welcome to Ora Collective</h1>
    <p class="lead">Find your perfect watch. Timeless elegance awaits.</p>
  </div>
</section>

<!-- Best Sellers -->
<section class="products py-5">
  <div class="container">
    <h2 class="mb-4">Best Sellers</h2>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let product of products">
        <app-Product-Card [product]="product"></app-Product-Card>

      </div>
    </div>
  </div>
</section>

<!-- Look Section -->
<section class="look-section">
  <img src="assets/bg.avif" alt="Collections Image" class="look-image" />
  <div class="container look-text">
    <h2>Have a Look at Our Collections</h2>
    <p>Elegant designs, trusted brands, and timeless quality just for you.</p>
  </div>
</section>

<!-- Shop by Brand -->
<section class="brands py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Shop by Brand</h2>
    <div class="row g-4">
      <div class="col-md-3" *ngFor="let product of featuredBrandProducts">
        <div class="card h-100">
          <img *ngIf="getPrimaryImage(product)" [src]="getPrimaryImage(product)?.url" class="card-img-top" />
          <div class="card-body text-center">
            <p class="card-text">{{ product.productBrand.name }}</p>
            <button class="btn btn-outline-dark" (click)="filterByBrand(product.productBrand.id)">
              View Products</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

