 .admin-sidebar {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  border-right: 1px solid #dee2e6;
}

.sidebar-container {
  padding: 20px;
  height: 100%;
}

.nav-item {
  margin-bottom: 25px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #30636f;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.nav-link i {
  font-size: 20px;
  margin-right: 12px;
  color: #30636f;
  transition: color 0.3s ease;
}

.nav-link span {
  flex: 1;
}

.nav-link:hover {
  background-color: #30636f;
  color: #ffffff;
}

.nav-link:hover i {
  color: #ffffff;
}

/* Active link (based on routerLinkActive) */
.nav-link.active {
  background-color: #204952;
  color: #ffffff;
}

.nav-link.active i {
  color: #ffffff;
}


.vh-100{
}


.sidebar{
  height: 100vh;
  position: fixed;
  
}