 <nav>
  <div class="position-sticky pt-3 sidebar-container mt-4" >
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa-solid fa-house me-2"></i>
          <strong>Dashboard</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/products']">
          <span class="my-watch-icon">&#8986;</span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-list-check me-2"></i>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/customers']">
          <i class="bi bi-people me-2"></i>
          Customers
        </a>
      </li>
    </ul>
  </div>
  <!-- Logout Button -->
  <div class="mt-auto p-3">
    <button class="btn btn-danger w-100" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket me-2"></i>
      Logout
    </button>
  </div>
</nav>
