/* Sidebar container */
.admin-sidebar {
  background-color: #f6f6f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
}

/* Nav link style */
.nav-link {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 10px;
  color: #30636f;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Icon style */
.nav-link i {
  font-size: 20px;
  color: #30636f;
  display: flex;
  align-items: center;
}

/* Active link style */
.nav-link.active {
  background-color: #204952;
  color: #ffffff;
  font-weight: 600;
}

.nav-link.active i {
  color: #ffffff;
}

/* Hover effect */
.nav-link:hover {
  background-color: #30636f;
  color: white;
}

.nav-link:hover i {
  color: white;
}

/* Sidebar nav item spacing */
.nav-item {
  margin-bottom: 20px;
}

/* Logout button */
.admin-sidebar .btn-danger {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
}

/* Logout button */
.logout-btn {
  background-color: #d9534f;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c9302c;
}
