    <nav class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-3">
            <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active-link">
              <i class="bi bi-speedometer2 me-2"></i>
              <strong>Dashboard</strong>
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link" [routerLink]="['/adminProducts']" routerLinkActive="active-link">
              <i class="bi bi-box-seam me-2"></i>
              Products
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link" [routerLink]="['/orders']" routerLinkActive="active-link">
              <i class="bi bi-receipt me-2"></i>
              Orders
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link" [routerLink]="['/customers']" routerLinkActive="active-link">
              <i class="bi bi-people me-2"></i>
              Customers
            </a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active-link">
              <i class="bi bi-person me-2"></i>
              Profile
            </a>
          </li>
        </ul>
    </nav>
