<nav class="admin-sidebar d-flex flex-column">
  <div class="sidebar-container pt-4 px-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/delivery/orders" routerLinkActive="active">
          <i class="fa-solid fa-box me-2"></i>
          <span>Orders</span>
        </a>
      </li>
     
    </ul>
  </div>
  <div class="sidebar-footer mt-auto p-3">
    <button class="btn logout-btn w-100" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket me-2"></i>
      Log Out
    </button>
  </div>
</nav> 